{
  "extends": ["eslint:recommended", "airbnb-base"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "script"
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "quotes": ["error", "double"],
    "arrow-parens": ["error", "always"],
    "no-console": "off",
    "function-paren-newline": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "strict": "off"
  }
}
